<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
</head>
<body>

<div class="container" ng-app="todoApp" ng-controller="todoCtrl">
  <div class="jumbotron">
    <h1>TO DO LIST</h1>
  </div>
  <div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Username</th>
        <th>Title</th>
        <th>Status</th>
		<th></th>
      </tr>
    </thead> 
	<tbody>
		<tr ng-repeat="x in todolst | filter:{completed:false}">  <!-- using a filter to show only incomplete todo list assuming complted true means complete -->
			<td>{{ x.userId }}</td>
			<td>{{ x.title }}</td>
			<td>{{ x.completed }}</td>
			<td><button type="button" class="btn btn-primary" ng-click="update(x)">Update Status</button></td>
		</tr>
	</tbody>
  </table>
</div> 
</div>

<script>
var app = angular.module('todoApp', []);
var root = 'http://jsonplaceholder.typicode.com';
var url = root+"/todos/";

app.controller('todoCtrl', function($scope, $http) {
  $http.get(url)
  .then(function(response) {
      $scope.todolst = response.data;
  });

 $scope.update = function(todoitem) {
  todoitem.completed = true; 
  var updateUrl = root+"/todos/"+todoitem.userId;
  $http.put(updateUrl, todoitem)
   .then(
       function(response){
         $scope.$apply;
       }, 
       function(response){
         conosle.log("ERROR WHILE UPDATING:::"+response);
       }
    );
}
});
</script>

</body>
</html>

